<h1 style="color: chartreuse;text-align: center;">Wellcome</h1>
<h2>sayhello</h2>
<form action="/sayhello/" method="post">
    {% csrf_token %}
    <input type="text" name="user" id="user">
    <input type="submit" value="Submit">
</form>
<a href="#ok">ok</a>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<h1 id="ok">ghdthgtyhoih</h1>
